/*override*/
* {
	transition: 0.3s;
}
body {
	/*scroll-behavior: smooth;*/
}
body * {
	/*color: white;*/
}
.sr-only {
	transition: 0.3s;
}
.navbar-nav {
	position: relative;
}
.navbar-nav::before {
	position: absolute;
	content: "";
	right: 16px;
	top: 120%;
	height: 60px;
	width: 1px;
	background-color: #9B9B9B;
}
.navbar-default .navbar-nav {
	margin-top: 35px;
	margin-right: 5px;
	margin-bottom: -200px;
}
.navbar-default .navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 5px;
	color: #4A4A4A;
	text-align: right;
	cursor:pointer;
}
.navbar-default .navbar-nav>li>a:hover {
	opacity: 0.6;
}
.navbar-default .navbar-nav>li {
	float: none;
}
.navbar-brand {
	height: 32px;
	width: 32px;
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 37px;
	margin-top: 36px;
}
.navbar-default {
	border:none;
	background-color: transparent;
}


/*bg*/
.bg01, .bg02, .bg04, .bg05 {
	position: absolute;
}
.bg {
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
	background-color: #F0F1F2;
	z-index: -10;
}
.bg01 {
	left: 136px;
	width: 1px;
	height: 100%;
	background-color: rgba(151,151,151,0.2);
}
.bg02 {
	top:50%;
	left: 25px;
	color: #9B9B9B;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}
.bg03 {
	height: 100%;
	border-left:1px solid rgba(151,151,151,0.2);
	border-right:1px solid rgba(151,151,151,0.2);
}
/*.bg04 {
	width: 400px;
	height: 400px;
	right: 16%;
	bottom: 14%;
	background-image: url(../img/bg04.svg);
	background-size: contain;
	background-repeat: no-repeat;
}*/
.bg05 {
	width: 1px;
	height: 60px;
	left: 64px;
	bottom: 36px;
	background-color: #9B9B9B;
}
.social {
	position: absolute;
	bottom: 40px;
	right: 50px;
}
.social a {
	width: 40px;
	height: 40px;
	border: none;
	background-color: rgba(0,0,0,0.00000001);
	color: white;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 24px;
}
#social-mail {
	background-image: url(../img/social-mail.png);
}
#social-ins {
	background-image: url(../img/social-ins.png);
}
#social-behance {
	background-image: url(../img/social-behance.png);
}
#social-github {
	background-image: url(../img/social-github.png);
}


/*section 01*/
.scetion-first {
	position: relative;
	width: 100%;
	/*overflow: hidden;*/
	/*display: table;*/
}
/*.section-first::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top:0;
	height: 200px;
	width: 100%;
}*/
.section-head {
	position: relative;
	margin-left: -15px;
	/*display: table-cell;
	vertical-align: middle;
	text-align: center;*/
	padding-top: 55%;
}
.section-head .head-s {
	display: block;
	font-weight: 400;
	font-size: 18px;
	color: #9B9B9B;
	width: 50%;
	padding-left: 30px;
	/*text-shadow: 0 2px 100px #000000;*/
}
.head-mask {
	position: absolute;
	overflow: hidden;
	left: 0px;
	right: -15px;
}
.section-head .head-mask {
	top:50%; 
} 
.head-xl {
	display: block;
	font-weight: 900;
	font-size: 300px;
	color: rgba(155,155,155,0.2);
	white-space: nowrap;
	/*text-shadow: 0 2px 100px #000000;*/
}
.section-head .head-xl {
	margin-left: -66px;
	/*text-shadow: 0 2px 100px #000000;*/
}
.section-head .head-l {
	display: block;
	font-family: Arial-BoldMT;
	font-weight: 900;
	font-size: 48px;
	color: #4A4A4A;
	text-transform: uppercase;
	padding-bottom: 32px;
	padding-left: 30px;
}



/*title*/
.groupTitle {
	text-align: center;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*card*/
.card {
	text-align: left;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	padding: 10px;
	overflow: hidden;
	margin-bottom:30px;
	white-space: normal;
}
.img {
	display: block;
	height: 200px;
	background-color: rgba(255,255,255,0.8);
	/*margin: -10px -10px 0px -10px;*/
}
.card h4 {
	margin-bottom: 2px;
}
.card p {
	margin-bottom: 0;
}

/*work*/
.work01 {
	height: 300px;
}
.work02 {
	height: 380px;
}
.btn-work {
	width: 32px;
	height: 32px;
	border: none;
	background-image: url(../img/btn-open.jpg);
	background-size: contain;
}
.btn-work:hover {
	background-image: url(../img/btn-open-h.jpg);
}

@media(max-width:767px){
	.card {
		margin-bottom:15px;
	}
}


/*section 02*/
#aboutme {
	/*position: relative;
	padding-top: 200px;
	padding-left: 50px;*/
}
#aboutme .row, #mycareer .row, #mywork .row {
	position: relative;
}
#aboutme .head-mask {
	right: 0px;
	text-align: right;
} 
#mycareer .head-mask {
	left: -15px;
	right: -15px;
	text-align: center;
}
#mywork .head-mask {
	left: 0px;
	right: 0px;
	text-align: left;
}
#mycareer .head-xl {
	font-size: 220px;
	text-align: center;
}
#aboutme .head-xl {
	font-size: 220px;
	margin-right: -30px;
}
#mywork .head-xl {
	font-size: 220px;
	margin-left: -30px;
}
.sammary {
	/*width: 60%;
	max-width: 768px;*/
	margin-top: 15%;
	margin-bottom: 60px;
}
h1.skills {
	display: inline-block;
	color: #F5A623;
	font-size: 64px;
	text-transform: uppercase;
	/*padding-right: 40px;*/
}
.skills small {
	display: block;
	font-size: 18px;
	color: white;
}
.logos {
/*	margin-top: 60px;
	max-width: 1024px;*/
}
.logo-c {
	position:relative;
	background-color: rgba(0,0,0,0.0001);
	z-index: 10;
	/*margin-left: -15px;
	margin-right: -15px;*/
	/*margin-bottom: 30px;*/
	/*background-color: rgba(0,0,0,0.1);*/
}
.logo-c img {
	width: 100%;
	margin-bottom: -22px;
	pointer-events: none;
	z-index: 4;
}
.logo-c img.img-h {
	opacity: 0;
	margin-top: -100%;
	z-index: 5;
}
.logo-c:hover img.img-h{
	opacity: 1;
}
.showartical {
	overflow: hidden;
}
.showartical #mywork, .showartical #before, .showartical #mycareer, .showartical #aboutme{
	opacity: 0;
}
.showartical .artical {
	display: block;
}
.artical {
	position: fixed;
	display: none;
	top:0;
	width: 100%;
	z-index: 10;
	overflow: scroll;
	
}
.artical .container {
	position: relative;
	
}
.col-md-offset-2 *{
	text-align: right;
}
.line-career {
	position: absolute;
	top:35px;
	bottom: 10px;
	left: 0;
	width: 1px;
	background-color: #9B9B9B;
}
.col-md-offset-2 .line-career {
	left: auto;
	right: 0;
}
#mycareer .row {
	margin-top: 200px;
}
#mycareer .row:first-child {
	margin-top: 100px;
}
#mywork .row:first-child {
	margin-top: 100px;
	margin-bottom: 200px;
}
.line-career:before {
	position: absolute;
	top:-25px;
	left: -10px;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	content: "";
	background-color: #D8D8D8;
}

/*work page*/
.workpage h1 {
	margin-top: 80px;
	margin-bottom: 20px;
}
.workpage small {
	display: block;
	margin-bottom: 20px;
	color: rgba(255,255,255,0.6);
}